/* styling body for 'browse server' browser window */
body.MuraFileBrowserWindow{
  background-color: #fff;
}

/* also see jquery-ui-override where breadcrumb is styled for ui-dialog */
body.MuraFileBrowserWindow .mura-header ul.breadcrumb{
  background-color: #FAFAFA;
  border-radius: 0;
  border: 1px solid #eaeaea;
  padding: 4px 12px;
}
#spinner {
  position: absolute;
  z-index: 1029;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .2);
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
}

#spinner i {
  font-size: 50px;
  margin-top: 10%;
}

.rectangle {
  border: 1px dashed #fff;
  position: absolute;
}

.corner {
  border: 1px solid #000;
  width: 3px;
  height: 3px;
}

.fa-padleft {
  padding-left: 5px;
  margin: 5px;
}

.fileviewer-wrapper {
  display: block;
}

.fileviewer-wrapper:after {
  clear: both;
  content: "";
  display: block;
}

.filewindow-appbar {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  display: block;
  clear: both;
  height: 52px;
  margin: 0;
  min-width: 520px;
  padding: 7px 0 0 7px;
}

.filewindow-hideappbar {
  border-top: none;
  display: block;
  clear: both;
  height: 1px;
  margin: 0;
}

.filewindow-appbar-empty {
  height: 0px;
}

.filewindow-navmenu {
  float: right;
  margin: 0 5px;
}

.filewindow-navmenu .pagination > li select {
  height: 26px;
  margin-top: 4px;
}
.filewindow-navmenu .pagination li.paging a{
  margin: 5px 0;
  background-color: transparent;
}
.filewindow-navmenu .pagination li.paging-last{
  margin-right: 22px;
}
.filewindow-navmenu .pagination li.paging a.disabled{
  opacity: .5;
  cursor: default;
}

.filewindow-navmenu p {
  float: left;
}

.filewindow-navmenu ul {
  float: right;
  display: inline;
}

.filewindow-navmenu ul li a {
  margin: 0 3px;
}

.filewindow-modemenu {
  float: left;
  margin: 0;
  width: 50%;
}

.filewindow-modemenu .btn-group {
  margin-right: 4px;
}

.filewindow-modemenu a.btn {
  box-sizing: border-box;
  height: 36px;
  width: 36px;
  padding: 3px;
}

.filewindow-modemenu a.btn i {
  color: #b5b5b5;
  font-size: 20px;
  margin-right: 0;
  padding-top: 4px;
}

.filewindow-modemenu a.btn.highlight i {
  color: #fff;
}

.filewindow-modemenu .highlight:link, .filewindow-modemenu .highlight:visited, .filewindow-modemenu .highlight:active, .filewindow-modemenu .highlight:hover, .filewindow-modemenu .highlight {
  background-color: #e34a35 !important;
  border: 1px solid #e34a35 !important;
}

.filewindow-modemenu ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filewindow-modemenu ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

.filewindow-modemenu .highlight {
  background-color: #ff0000;
}

.filewindow-modemenu ul li i {
  display: inline;
  padding: 4px;
  font-size: 1.5em;
}

#actionwindow-wrapper {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 450px;
    min-height: 210px;
    z-index: 10;
}
#actionwindow-wrapper.editwindow {
  transform: translate(-50%, -50%);
  margin-left: -15%;
  margin-top: -200px;
}
.actionwindow-formwrapper {
  height: auto;
  min-height: 205px;
  min-width: 450px;
  width: auto;
}

.actionwindow-long {
  min-width: 600px;
}

.actionwindow-formwrapper .editwindow {
  width: 600px;
  min-height: 330px;
}

.gridmode-wrapper {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-top: none;
  border-bottom: none;
  padding: 24px;
}

.listmode-wrapper .mura-table-grid {
  margin-bottom: 0 !important;
  border-bottom: none;
  border-top: none;
}

ui.dialog input[type=text],
ui.dialog textarea,
input.filebrowser-filter {
  border: 1px solid #dbdbdb;
  margin-left: 10px;
  padding-left: 7px;
  height: 35px;
  border-radius: 3px;
}

input.filebrowser-filter {
  margin-left: 5px;
  min-width: 130px;
  max-width: 280px;
  width: calc(100% - 240px);
}

.ui-dialog .CodeMirror{
  clear:both;
}

#renamewindow-wrapper p {
  position: relative;
}

.breadcrumb a {
  cursor: pointer;
}

.fileviewer-droptarget {
  background-color: #fafafa;
  margin: 8px 0 18px 0;
  overflow: hidden;
  position: relative;
  height: 150px;
}

.fileviewer-droptarget p {
  color: #bdbdbd;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
}

.fileviewer-uploadedfiles {
  text-align: left;
  list-style: none;
  font-size: .8em;
}

.filewindow-searchinput {
  margin-left: 4px;
  padding-left: 6px;
  border: 1px solid #eee;
  border-radius: 2px;
  font-size: 14px;
  height: 34px;
}

.file-input-field {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

#contenteditfield{
  min-width: 400px;
}

.upload-icon {
  padding: 5px;
}

.filewindow-context {
  position: absolute;
  width: 180px;
  background: #fff;
  border: 2px solid #000;
}

.filewindow-context ul {
  list-style: none;
  margin: 5px;
  padding: 0;
}

.filewindow-context ul li {
  margin: 0;
  padding: 2px 4px;
}

.filewindow-context ul li:hover {
  background-color: #555;
  color: #fff;
  cursor: context-menu;
}

.upload-icon:before {
  content: "\f093";  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome;
  left: -5px;
  font-size: 4em;
  text-align: center;
  position: absolute;
  top: 54px;
  left: 47%;
  color: #ddd;
}

.download-icon {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/loading.gif");
}

.fileviewer-item {
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  box-shadow: 5px 5px 6px #eee;
  float: left;
  font-size: 13px;
  height: 160px;
  margin: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-overflow: ellipsis;
  width: 160px;
}

.fileviewer-item-label {
  height: 2em;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.fileviewer-item-icon {
  background-color: #f8f8f8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 80px;
}

.fileviewer-item-icon i {
  color: #cccccc;
  font-size: 28px !important;
  padding-top: 29px;
}

.fileviewer-back.fileviewer-item{
  box-shadow: none;
}
.fileviewer-back .fileviewer-item-icon{
  height: 100%;
}

.fileviewer-back .fileviewer-item-icon i{
  font-size: 48px !important;
  padding-top: 56px;
}

.fileviewer-item-icon-jpg {
  background-image: url("./assets/images/jpg.png");
}

.fileviewer-item-icon-png {
  background-image: url("./assets/images/png.png");
}

.fileviewer-item-meta {
  font-size: 11px;
  height: 80px;
  padding: 9px;
  position: relative;
}

.fileviewer-item-meta-details {
  bottom: 10px;
  font-size: 11px;
  line-height: 1.4em;
  position: absolute;
  right: 20px;
}

.fileviewer-item-meta-date,
.fileviewer-item-meta-size{
  float: right;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 80%;
  width: auto;
  text-align: right;
}
.fileviewer-item-meta-details div > span > i{
  opacity: .5;
}
.fileviewer-item-actions{
  position: absolute;
  bottom: 10px;
  font-size: 18px;
  left: 10px;
  line-height: 18px;
}

.fileviewer-item-actions a.show-actions{
  color: #949494 !important;
  cursor: pointer;
  display: inline-block;
  float: left;
  margin-left: 0;
  text-align: left;
  width: 40px;
}

a.folder-item {
  cursor: pointer;
}

.image {
  background-color: #ccc;
}

.itemsper-label {
  font-size: 12px;
  padding: 8px 3px 0 0;
}

.fileviewer-modal {
  z-index: 100000;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 125px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.sidebar-mini .fileviewer-modal {
  left: 0;
}

.fileviewer-gallery {
  background-color:#fff;
  display: block;
  height: 80%;
  margin: 3% auto;
  position: relative;
  padding-top: 2%;
  width: 80%;
}

body.modal-wrapper .fileviewer-gallery{
  width: 92%;
}
body.MuraFileBrowserWindow .fileviewer-gallery{
  margin-top: 1.5%;
}
body.modal-wrapper #MuraFileBrowserContainer{
  margin-bottom: 16px !important;
}

.fileviewer-image {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.fileviewer-image-edit {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.fileviewer-icon {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.fileviewer-gallery-menu.mura-actions {
  bottom: -105px;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 15px 0 !important;
  background-color: #fff;
}

.mura body.modal-wrapper .fileviewer-gallery-menu.mura-actions,
body.modal-wrapper .fileviewer-gallery-menu.mura-actions{
  bottom: -80px;
  padding-top: 5px !important;
  padding-bottom: 6px !important;
}

.fileviewer-gallery-menu.mura-actions label{
    width: auto;
    display: inline-block;
    margin: 3px 6px 0 6px;
}
.fileviewer-gallery-menu.mura-actions label.fileinfo{
  width: 100%;
  display: block;
  margin: 0;
  padding: 0 0 2px 0;
}

.fileviewer-gallery-menu.mura-actions label input {
  border: 1px solid #dbdbdb;
  margin: 0;
  padding-left: 7px;
  border-radius: 3px;
  background-color: #fff;
  height: 30px;
  padding: 0 5px;
  width: 60px;
}

.fileviewer-gallery-menu.mura-actions .form-actions > a.btn,
body.modal-wrapper .fileviewer-gallery-menu.mura-actions .form-actions > a.btn {
  background-color: #6f6f6f;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  margin: 6px;
  padding: .2em 1.1em;
  color: #fff;
}

.fileviewer-gallery-menu.mura-actions .form-actions > a.btn i,
body.modal-wrapper .fileviewer-gallery-menu.mura-actions .form-actions > a.btn i{
  color: #fff;
  margin-right: 6px;
}

.fileviewer-gallery-menu input:disabled {
  background-color: rgba(255, 255, 255, 0.5);
  color: #bbb;
}

.actionwindow-left,
.actionwindow-right {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  font-size: 3em;
  padding: 0 10px;
  position: absolute;
  top: 48%;
}

.actionwindow-left {
  float: left;
  left: 0;
}

.actionwindow-left i{
  margin-right: 5px;
}

.actionwindow-right {
  float: right;
  right: 0;
}

.actionwindow-right i{
  margin-left: 5px;
}

.fileviewer-icon-jpg {
  background-image: url("./assets/images/jpg.png");
}

.fileviewer-icon-png {
  background-image: url("./assets/images/png.png");
}